body {
	background-color: steelblue;
	font-family: "montserrat";
	color: white;
}



h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

#container {
	margin: 100px auto;
	text-align: center;
}


